body {
    margin: 0;
    font-family: monospace, monospace;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

.overflow {
    overflow-x: auto;
    white-space: nowrap;
    display: "inline-block";
}


ul {
    margin-left: 5px;
}
