body {
    margin: 0;
    font-family: monospace, monospace;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

.overflow {
    overflow-x: auto;
    white-space: nowrap;
    display: "inline-block";
}


ul {
    margin-left: 5px;
}


.l {
    color: rgb(23, 23, 23, 20);
    background: rgba(200, 200, 200, 200);
}

.h {
    color: rgb(50, 200, 200);
    background:
}
